# Python

## Basic

### Comment

In [10]:
# comment

'''
multiline
comment
'''

'\nmultiline\ncomment\n'

### Basic Datatype

In [11]:
number = 1
string = 'string'
boolean = True

print(type(number))
print(type(string))
print(type(boolean))

<class 'int'>
<class 'str'>
<class 'bool'>

### Mathematical Operation

In [12]:
addition = 1 + 2
subtraction = 1 - 2
multiplication = 1 * 2
division = 1 / 2
exponent = 1 ** 2
modulus = 1 % 2
floor_division = 1 // 2

print(addition)
print(subtraction)
print(multiplication)
print(division)
print(exponent)
print(modulus)
print(floor_division)

3
-1
2
0.5
1
1
0

### Comparison Operation

In [13]:
equal = 1 == 2
not_equal = 1 != 2
greater_than = 1 > 2
less_than = 1 < 2
greater_than_equal = 1 >= 2
less_than_equal = 1 <= 2

print(equal)
print(not_equal)
print(greater_than)
print(less_than)
print(greater_than_equal)
print(less_than_equal)

False
True
False
True
False
True

### Logical Operation

In [14]:
and_operator = True and False
or_operator = True or False
not_operator = not True

print(and_operator)
print(or_operator)
print(not_operator)

False
True
False

### Control Structure

In [15]:
def is_positive_negative_or_neutral(number):
    if number > 0:
        return 'positive'
    elif number < 0:
        return 'negative'
    else:
        return 'neutral'
    
def is_odd_or_even(number):
    return 'odd' if number % 2 == 1 else 'even'

print(is_positive_negative_or_neutral(-1))
print(is_positive_negative_or_neutral(0))
print(is_positive_negative_or_neutral(1))
print(is_odd_or_even(1))
print(is_odd_or_even(2))

negative
neutral
positive
odd
even

In [16]:
for iterator in range(10):
    print(iterator)
    
iterator = 0
while iterator < 10:
    print(iterator)
    iterator += 1

0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9

In [17]:
list_comprehension = [iterator for iterator in range(10) if iterator % 2 == 0]

print(list_comprehension)

[0, 2, 4, 6, 8]

### Function

In [18]:
def add(number1, number2):
    return number1 + number2

print(add(1, 2))

3

In [19]:
lambda_function_add = lambda number1, number2: number1 + number2

print(lambda_function_add(1, 2))

3

In [20]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
string_numbers = [str(number) for number in numbers]

desc_numbers = sorted(numbers, reverse=True)
print(desc_numbers)

doubled_numbers = list(map(lambda number: number * 2, numbers))
print(doubled_numbers)

even_numbers = list(filter(lambda number: number % 2 == 0, numbers))
print(even_numbers)

zip_numbers = list(zip(numbers, string_numbers))
print(zip_numbers)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[2, 4, 6, 8, 10]
[(1, '1'), (2, '2'), (3, '3'), (4, '4'), (5, '5'), (6, '6'), (7, '7'), (8, '8'), (9, '9'), (10, '10')]

## Data Structure

### List

In [21]:
list = ["apple", "banana", "cherry"]
print(type(list))
print(list)

list.remove("cherry")
print(list)

list.append("coconut")
print(list)

print(list[1])
print(list[-1])

for x in list:
    print(x)

<class 'list'>
['apple', 'banana', 'cherry']
['apple', 'banana']
['apple', 'banana', 'coconut']
banana
coconut
apple
banana
coconut

### Tuple

In [22]:
tuple = ("apple", "banana", "cherry")
print(type(tuple))
print(tuple)

# tuple.remove("cherry") <- tuple immutable

# tuple can be used as key in dictionary
capital_cities = {("United States", "California"): "Sacramento", ("France", "Île-de-France"): "Paris"}
print(capital_cities)

<class 'tuple'>
('apple', 'banana', 'cherry')
{('United States', 'California'): 'Sacramento', ('France', 'Île-de-France'): 'Paris'}

### Sets

In [23]:
first_sets = {"apple", "banana", "cherry"}
second_sets = {"apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"}
print(type(first_sets))

intersection_sets = first_sets.intersection(second_sets)
print(intersection_sets)

union_sets = first_sets.union(second_sets)
print(union_sets)

difference_sets = first_sets.difference(second_sets)
print(difference_sets)

<class 'set'>
{'banana', 'cherry', 'apple'}
{'mango', 'kiwi', 'apple', 'melon', 'banana', 'cherry', 'orange'}
set()

### Dictionary

In [24]:
dictionary = {"name": "John", "age": 36, "country": "Norway"}
print(type(dictionary))
print(dictionary)

dictionary["age"] = 40
print(dictionary)

for key, value in dictionary.items():
    print(key, value)
    
for key in dictionary.keys():
    print(key)
    
for value in dictionary.values():
    print(value)

<class 'dict'>
{'name': 'John', 'age': 36, 'country': 'Norway'}
{'name': 'John', 'age': 40, 'country': 'Norway'}
name John
age 40
country Norway
name
age
country
John
40
Norway

## Object Oriented Programming

### Basic

In [25]:
class Calculator:
    def __init__(self, num1, num2):
        self.num1 = num1
        self.num2 = num2

    def add(self):
        return self.num1 + self.num2
    
    def subtract(self):
        return self.num1 - self.num2
    
    def multiply(self):
        return self.num1 * self.num2
    
    def divide(self):
        return self.num1 / self.num2
    
calculator = Calculator(10, 5)
print(calculator.add())
print(calculator.subtract())
print(calculator.multiply())
print(calculator.divide())

15
5
50
2.0

### Inheritance

In [26]:
class ScientificCalculator(Calculator):
    def __init__(self, num1, num2):
        super().__init__(num1, num2)
    
    def power(self):
        return self.num1 ** self.num2
    
    def square_root(self):
        return self.num1 ** (1 / self.num2)
    
scientific_calculator = ScientificCalculator(10, 5)
print(scientific_calculator.add())
print(scientific_calculator.subtract())
print(scientific_calculator.multiply())
print(scientific_calculator.divide())
print(scientific_calculator.power())
print(scientific_calculator.square_root())

15
5
50
2.0
100000
1.5848931924611136

## Module

### Custom Module

In [27]:
from utils import array_utils

doubled_array = array_utils.double_numbers([1, 2, 3, 4, 5])
print(doubled_array)

[2, 4, 6, 8, 10]

### Third-party Module

```bash
pip install module_1 module_2

pip freeze requirements.txt

pip install -r requirement.txt
```

## Working with File

### Write

In [28]:
content = "Hello, World!"

with open("./files/hello_world.txt", "w") as file:
    file.write(content)

### Read

In [29]:
with open("./files/hello_world.txt", "r") as file:
    print(file.read())

Hello, World!

### Append

In [30]:
with open("./files/hello_world.txt", "a") as file:
    file.write("\nHello, World!")

### Read and Write

In [31]:
import csv

input_file = './files/users.csv'
output_file = './files/filtered_users.csv'

with open(input_file, 'r') as infile, open(output_file, 'w', newline='') as outfile:
    csv_reader = csv.DictReader(infile)
    fieldnames = csv_reader.fieldnames

    csv_writer = csv.DictWriter(outfile, fieldnames=fieldnames)
    csv_writer.writeheader()

    for row in csv_reader:
        if int(row['age']) >= 30:
            csv_writer.writerow(row)

### Pandas

In [32]:
import pandas as pd

filtered_users = pd.read_csv('./files/filtered_users.csv')
filtered_users

   user_id         name                   email  age
0        1     John Doe     johndoe@example.com   32
1        3  James Brown  jamesbrown@example.com   55

## Magic Command

### Run a File

In [33]:
%run ./utils/hello_world.py

Hello world!

### Load a File

In [34]:
# %load ./utils/hello_world.py
print("Hello world!")

Hello world!

### Write a File

In [35]:
%%writefile ./utils/hello_world.py
print("Hello world!")

Overwriting ./utils/hello_world.py

### Time

In [36]:
%%time

print("Hello world!")

Hello world!
CPU times: total: 0 ns
Wall time: 0 ns

### Connect to DB

In [1]:
%load_ext sql
%sql mysql://root:root@localhost:3306/test
%sql SELECT * FROM test

 * mysql://root:***@localhost:3306/test
2 rows affected.

[(1, 'test 1'), (2, 'test 2')]

### Load a Module

In [38]:
%load_ext autoreload
%autoreload 2

import sys
import os
sys.path.append(os.path.abspath('..'))

from utils import math_utils

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [39]:
math_utils.count_hypotenuse(3, 4)

5.0

### History

In [40]:
%history -n 1-5

   1:
%load_ext autoreload
%autoreload 2

import sys
import os
sys.path.append(os.path.abspath('..'))

from utils import math_formula
   2:
%load_ext autoreload
%autoreload 2

import sys
import os
sys.path.append(os.path.abspath('..'))

from utils import math_utils
   3: math_utils.count_hypotenuse(3, 4)
   4: %history -n 1-5
   5: %run ./utils/hello_world.py

## Virtual Environment

### Create

```bash
python -m venv my_venv
```

### Activate

```bash
my_venv\Scripts\activate
```

### Deactivate

```bash
deactivate
```