# Markdown

## Heading

```markdown
# Heading 1
## Heading 2
### Heading 3
#### Heading 4
##### Heading 5
###### Heading 6
```

## Text Formatting

```markdown
*Italic* 
**Bold** 
***Italic And Bold*** 

_Italic_
__Bold__
___Italic And Bold___
```

## List

```markdown
1. Ordered List 1
2. Ordered List 2

- Unordered List 1
- Unordered List 2
```

## Link

```markdown
[Link](www.google.com)
```

## Image

```markdown
![Taekwondo Image](https://lh6.googleusercontent.com/proxy/rJRlYy-erVaC52L7OLN8Scq6nV3jrQL9vY5MHqkSs8HK17G5pvxxyYT71o83qPnB3CHroFYXhvR1-hYFytH22Orzd3dmy7gzIITiGP9kYtwRUJCJwzKHk92OdemDr0KhoA)
```

## Table

```markdown
| Table Head 1 | Table Head 2 | Table Head 3 |
| ------------ | ------------ | ------------ |
| Table Data 1 | Table Data 2 | Table Data 3 |
| Table Data 4 | Table Data 5 | Table Data 6 |
```

## Code

```python
def hello_world():
  print("Hello World")

hello_world()
```